.hide {
	display: none;
}
.show {
	display: block;
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.middle {
	text-align: center;
	padding-top: 50px;
}

.middle2 {
	padding-top: 50px;
}

.questions-1 {
	width: 70px;
	height: 300px;
	border: 1px solid #c3c3c3;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.firstsection1 {
	text-align: left;
}
